body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebe5c5;
    background-image: url('imagensJong/jong_cabeca.png');
    background-size: 100px 100px;
}

header {
    color: #FFFF42;
    font-size: 40px;
    text-align: center;
}

main {
    color: #FFFF42;
    font-size: 20px;
}

a {
    color: #FFFF42;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #FFFF42;
}

hr {
    border: 1px solid black;
}

#easteregg {
    font-family: sans-serif;
    font-size: 10px;
}
